.close-icon {
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../../images/close.svg);
    background-position:center;
    background-size: contain;
    position: absolute;
    right: 0;
    top: -36px;
    border: 0px;
}
.close-icon:hover {
    opacity: .6;
    cursor: pointer;
}
@media (min-width: 1280px) {
    .close-icon {
        width: 32px;
        height: 32px;
        right: -40px;
        top: -40px;
    }
}