.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 28px 0 42px;
    min-height: 56px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}
@media (min-width: 1280px) {
    .header {
        margin: 45px 200px 40px;
        min-height: 74px;
    }
}